#financial-info{
    border-radius: 20px;
}
.checking-account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: "Roboto", sans-serif;
    width: 50%;
    height: 40%;
    
}
.credit-account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: "Roboto", sans-serif;

    width: 50%;
    height: 50%;
    
    
}
.available-balance-text{
    font-weight: 100;
    font-size: 3.2rem;
}

.available-balance-amount{
    font-weight: 200;
    font-size: 3.5rem;
    color: rgb(8, 168, 43);
}

.credit-balance-text{
    font-weight: 100;
    font-size: 2.2rem;
}

.credit-balance-amount{
    font-weight: 200;
    font-size: 3.0rem;
    color: rgb(181, 8, 8);
}

.credit-card-payment-button{
    border-radius: 10px;
    padding: 4px;
    margin-top: 10px;
    color:rgb(189, 191, 193);
}

.credit-card-view-details-button{
    margin-left: 10px;
    border-radius: 10px;
    padding: 4px;
    margin-top: 10px;
    color:rgb(189, 191, 193);
}

.credit-card-payment-button,
.credit-card-view-details-button {
    transition: background-color 0.5s ease; /* Add transition for background-color */
}

.credit-card-payment-button:hover,
.credit-card-view-details-button:hover {
    background-color:rgb(59, 6, 158); /* Change background color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}