.profile-pic {
    /* background-image: url("https://files.cults3d.com/uploaders/21609469/illustration-file/79d10cc5-48db-4f7c-a1b1-37d0e6a2859b/look2_AdobeCreativeCloudExpress.gif"); */
    background-image: url("https://i.pinimg.com/originals/ab/da/25/abda25d2c253502e0d7a4d1f4cc2ff9d.gif");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    height: 170px;
    width: 170px;
}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.0rem;
}

.user-name{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 2.2rem;

}

.name-title{
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: center;
    color: rgb(46, 196, 23);
    margin-top: none;
}

.option{
    font-family: "Raleway", sans-serif;
    color: rgb(190, 184, 184);
    display: flex;
    flex-direction: row;
    list-style: none;
    display: block;
    font-size: 1.4rem;
    margin-bottom: 30px;    
}
.option li svg {
    margin-right: 12px; /* Adjust margin as needed */
}

.home{
    display: flex;
    align-items: center;
    
}

.page-items{
    font-family: "Raleway", sans-serif;
    color: rgb(190, 184, 184);
    display: flex;
    flex-direction: row;
    list-style: none;
    display: block;
    font-size: 1.4rem;
    /* margin-bottom: 50px; */
}

.page-items li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.page-items li svg {
    margin-right: 12px; /* Adjust margin as needed */
}

.sub-header{
    margin-left: 30px;
    
}