.profile-pic {
    /* background-image: url("https://files.cults3d.com/uploaders/21609469/illustration-file/79d10cc5-48db-4f7c-a1b1-37d0e6a2859b/look2_AdobeCreativeCloudExpress.gif"); */
    /* background-image: url("https://i.pinimg.com/originals/ab/da/25/abda25d2c253502e0d7a4d1f4cc2ff9d.gif");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 220px;

    font-family: "Roboto", sans-serif;
    font-style:normal;
    /* width: 170px;  */
}

.user{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1.0rem
}

.user-info{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 2.2rem;

}

.user-name{
    font-size: 2.2rem;
    margin-bottom: 0%;
    
}

.name-title{
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: center;
    color: rgb(46, 196, 23);
    margin-top: 1.0rem;
}

.calendar-svg{
    font-size: 3.2rem;
    margin-right: 250px;
    
}


p.date{
    
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 250;
    font-size: 4.0rem;
    text-align: center;
    color: rgb(207, 169, 215);
    
}

.time{
    font-size: 4.2rem;
    font-weight: 200;
    color: #c6c1c1;
    /* border-bottom: solid 1px rgb(114, 112, 112); */
}

.option{
    font-family: "Raleway", sans-serif;
    color: rgb(190, 184, 184);
    display: flex;
    flex-direction: row;
    list-style: none;
    display: block;
    font-size: 1.4rem;
    margin-bottom: 30px;    
}
.option li svg {
    margin-right: 12px; /* Adjust margin as needed */
}

.home{
    display: flex;
    align-items: center;
    
}

.page-items{
    font-family: "Raleway", sans-serif;
    color: rgb(190, 184, 184);
    display: flex;
    flex-direction: row;
    list-style: none;
    display: block;
    font-size: 1.4rem;
    /* margin-bottom: 50px; */
}

.page-items li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.page-items li svg {
    margin-right: 12px; /* Adjust margin as needed */
}

.sub-header{
    margin-left: 30px;
    
}

.expense-toggle-button {
    width: 50%;
    height: 25%;
    border: 1px solid rgb(80, 7, 152);
    border-radius: 50px;
    padding: 5px;
    font-weight: 300;
    color: rgb(230, 225, 231);
    cursor: pointer; /* Change cursor to pointer to indicate interaction */
    transition: background-color 0.3s; /* Smooth transition effect */
}

.expense-toggle-button:hover {
    background-color: #6608c4; /* Change background color on hover */
}
.page-items li a,
.page-items li a:visited {
    color: rgb(194, 188, 188); /* Change the color of the links */
 /* Remove the underline from the links */
    transition: color 0.3s; /* Add transition effect for color change */
}

.page-items li a:hover {
    color: rgb(132, 31, 152); /* Change link color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}