html{
    font-size: 14px;
}
body{
    background-color: #070319;
}
.container{
    display: grid;
    height: 100vh;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr; */
    grid-template-rows: 1.5fr 1.2fr 0.8fr;
    grid-template-areas:
        /* "nav nav nav nav" */
        "sidebar main main main"
        "sidebar content1 content2 content3"
        "sidebar footer footer footer";
    grid-gap: 0.2rem;
    

}

nav{
    background: #100d1c;
    grid-area: nav;
}


/* main{
    background: #100d1c;
    grid-area: main;
    
} */



#sidebar{
    background: #100d1c;
    grid-area: sidebar;
    border-radius: 20px;
}

#content1{
    background: #100d1c;
    grid-area: content1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    
}

.monthly-title{
    text-align: center; /* Center the title */
    font-size: 20px;
    background-color: rgb(16, 2, 27);
    color: rgb(104, 34, 210);
    border-radius: 6px;
    width: 75%;
    border-radius: 12px;
    /* text-decoration: underline; */
}



body{
    font-family: "Raleway", sans-serif;
    color: rgb(190, 184, 184);
}
#content2{
    background: #100d1c;
    grid-area: content2;
    border-radius: 20px;
}

#content3{
    background: #100d1c;
    grid-area: content3;
    border-radius: 20px;
}

footer{
    background: #100d1c;
    grid-area: footer;
    border-radius: 20px;
} 

main {
    /* Add your main content styles */
    background: #100d1c;
    grid-area: main;
    /* width: 100%; Full width */
    max-width: 1200px; /* Limiting maximum width */
    padding: 1.0rem;
    border-radius: 20px;
    /* margin-top: 20px; Adjust according to your layout */
}

#myChart{
    
    /* Add your chart styles */
    width: 75%;
    height: 90%;
    
    /* max-width: 600px; Limiting maximum width */
    
    
}

