/* .transaction-title{
    display: flex;
    justify-content: center;

    font-size: 20px;
    background-color: rgb(16, 2, 27);
    color: rgb(104, 34, 210);
    border-radius: 6px;
}

.transactions{
    background-color:  rgb(16, 2, 27);
    display: flex;
    justify-content: center;
    
}

.transactions li{
    margin: 20px;
    background-color: blue;
    list-style-type: none;
    display: flex;
    justify-content: center;
} */

#content2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.transaction-title {
   
    text-align: center;
    font-size: 20px;
    background-color: rgb(16, 2, 27);
    color: rgb(104, 34, 210);
    border-radius: 6px;
    width: 75%;
    margin-bottom: 10px; /* Add some space below the title */
}

.transactions {
    background-color: rgb(16, 2, 27);
    display: flex;
    justify-content: left;
    padding-left: 1.0rem;
    align-items: center; /* Center items vertically */
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.transactions ul {
    padding: 0; /* Remove default padding from the ul */
    margin: 0; /* Remove default margin from the ul */
    /* padding: 2.0rem; */
}

.transactions li {
    background-color: rgb(9, 9, 66);
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
    margin-bottom: 5px; /* Add some space between list items */
    padding: .3rem;
    border-radius: 15px;
}